:root {
    --cor-de-fundo: #345061be;
    --verde:#6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo:rgba(4, 4, 12, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.5);
 }
 body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
 }
 